<!DOCTYPE html>
<html lang="en">
    <%- include("inc/head") %> 
<body class="bg-dark">
   
<!-- header -->

<div class="container bg-light" style="padding:0px">
  <%- include("inc/header") %>
   <br /><br />
  <div class="container">
   <h2>All Posts</h2>
   <% data.forEach((post) => { %>
    <div style="background-color: rgb(235, 235, 235); padding: 15px;border-radius:2px">
    <h3 class="text-danger"><%= post.title %></h3> 
    <p><%= post.body %></p>  
    <table border="0px" rules="all">
          <tr>
            <td>
                <a href="post-detail/<%= post.id %>"><button style="border:1px solid grey">View</button></a>
            </td>
            <td>
                <a href="edit/<%= post.id %>"><button style="border:1px solid grey">Edit</button></a>
            </td>
            <td>
                <a href="delete/<%= post.id %>"><button style="border:1px solid grey">Delete</button></a>
            </td>
        </tr>
    </table>
    </div><br />
  <% }); %>
  </div>
</div>

<!-- footer -->
<%- include("inc/footer") %>
</html>